# main
## config and personal data
config/
messages.py

## test
bot_whatsapp_chrome.py
bot_whatsapp_firefox.py.original

## logs
geckodriver.log

## cache
__pycache__/
utilities/__pycache__/
config/__pycache__/
config/session/__pycache__/